
  html,
  body {
    position: relative;
    /* height: 100%; */
    font-family: Forma DJR, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 0.81vw;
  }
  
  body {
    position: relative;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  header {
    margin-left: 1.16vw;
    height: 4.98vw;
    /* width: 70vw; */
    display: flex;
    gap: 54.87vw;
  }
  .headers {
    margin-top: 1.39vw;
    display: flex;
    gap: 1vw;
  }
  a {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 1.68vw;
    text-decoration: none;
  
  
  color: #F5F5F5;
  }
  
  /* Логотип */
  
  #logo {
    width: 11vw;
    height: 4vw;
    position: relative;
    background-image: url('../images/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  body {
    cursor: none;
  }
  
  #trail {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    pointer-events: none;
    width: 100%;
    height: 100%;
  }
  
  #trail div {
    position: absolute;
    transform: rotate(45deg);
    border-radius: 0.29vw;
    background-color: #E8D41A;
    animation: fade 3s ease-out;
  }
  
  @keyframes fade {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .swiper-counter {
    margin-top: 0.87vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .swiper-counter__number,
  .swiper-counter__total {
    flex: 1;
    text-align: center;
    font-size: 2.08vw;
    color: #F5F5F5;
  }
  
  .swiper-container {
    flex: 3;
    height: 100%;
  }
  
  .swiper-counter__total {
    order: 3;
  }
  
  .textfade {
    opacity: 0;
    animation-name: slide-in;
    animation-duration: 1.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
   }
  
   @keyframes slide-in {
    from {
     opacity: 0;
     transform: translateY(20px);
    }
    to {
     opacity: 1;
     transform: translateY(0);
    }
   }
  
  .swiper {
    height: 45vw;
    width: 79.17vw;
    border-radius: 1.16vw;
  }
  
  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Spektra', Arial, sans-serif;;
    font-weight: 600;
    font-size: 11.57vw;
    line-height: 16.78vw;
    font-feature-settings: 'ss03' on;
    color: #F7F7F9;
    border-radius: 1.16vw;
  }
  
  .swiper {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    /* margin-left: auto;
    margin-right: auto; */
  }
  
  #swiper1 {
    background-image: url(../images/card1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
  }
  
  #swiper2 {
    background-image: url(../images/card2.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #swiper3 {
    background-image: url(../images/card3.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #swiper4 {
    background-image: url(../images/card4.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .swiper-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.16vw;
  }
  
  .swiper-counter-current {
  font-size: 2.31vw;
  color: #F5F5F5;
    margin-left: 1.16vw;
  }
  
  .swiper-counter-total {
    font-size: 2.31vw;
    color: #F5F5F5;
    margin-right: 1.16vw;
  }

 