@font-face {
    font-family: 'Spektra';
    src: url('../fonts/Spektra-Bold.ttf') format("truetype");
  }
  @font-face {
    font-family: 'Forma DJR';
    src: url('../fonts/FormaDJRCyrillicText-Regular.ttf') format("truetype");
  }